{% extends 'base.html' %} {% load bootstrap4 %} {% block signup %}active{% endblock %} {% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row justify-content-center">
            <h2>Sign up</h2>
        </div>
        <hr>
        <div class="row justify-content-center">
            {% if form.errors %}
            <p>Username and password didn't match!
                <strong>Please try again.</strong>
            </p>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <!-- -->
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success float-right" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}